Repository SAP/csn-interop-specification: changes, and which lefthook commands are due for each by the changed paths.
All: spec-generate, format

spec-generate:
  run: 'npm run generate
  
    git add ./src/generated/spec-v1/types/csn-interop-effective.ts
  
    git add ./src/generated/spec-v1/schemas/*
  
    '

format:
  run: npm run prettier

Update dependencies
  lefthook.yml
  package-lock.json
  package.json
  spec-toolkit/package-lock.json
Due: format

Add lefthook
  .husky/pre-commit
  lefthook.yml
  package-lock.json
  package.json
Due: none

Update dependencies and use lefthook instead of husky (#117)
  .husky/pre-commit
  lefthook.yml
  package-lock.json
  package.json
  spec-toolkit/package-lock.json
Due: format

split the mapping files according to types
  docs/mappings/abap.md
  docs/mappings/apache-spark.md
  docs/mappings/datasphere.md
  docs/mappings/hana.md
Due: format

split the mapping files according to types
  docs/mappings/datasphere.md
  docs/mappings/hana.md
  docs/mappings/index.mdx
Due: format

split the mapping files according to types
  docs/mappings/index.mdx
Due: none

eslint fixes
  eslint.config.mjs
  spec-toolkit.config.json
Due: none

fix tests
  src/__tests__/spec-v1/element.test.ts
  src/__tests__/spec-v1/typeDefinition.test.ts
  src/__tests__/spec-v1/validExamples.test.ts
Due: none

fix lefthook
  lefthook.yml
Due: none

fix gitignore, eslint, prettier, package config
  .gitignore
  .prettierignore
  eslint.config.mjs
  package.json
Due: none

fix build command, do first the generate then the ts compile
  package.json
Due: none

fix prettier
  .vscode/settings.json
  package.json
Due: format

fix build pipeline with spec-toolkit requires node 22
  .github/workflows/main.yml
Due: none

Update spec/v1/annotations/object-model.yaml
  spec/v1/annotations/object-model.yaml
Due: spec-generate, format

Adding UInt8 and Integer16 CDS types (WIP)
  package-lock.json
  spec/v1/CSN-Interop-Effective.schema.yaml
Due: spec-generate, format

Codes property is set to be mandatory
  spec/v1/annotations/object-model.yaml
  src/generated/spec/v1/types/csn-interop-effective.ts
Due: spec-generate, format

Complete the types, fix copy'n'paste issues
  spec/v1/CSN-Interop-Effective.schema.yaml
Due: spec-generate, format

Add changelog entry
  CHANGELOG.md
  src/generated/spec-v1/schemas/csn-interop-effective.schema.json
  src/generated/spec-v1/types/csn-interop-effective.ts
Due: format

Create dataintegration.yaml
  spec/v1/annotations/dataintegration.yaml
Due: spec-generate, format

Create dataintegration.md
  spec/v1/annotations/dataintegration.md
Due: format

Add introduction to DataIntegration annotation
  spec/v1/annotations/dataintegration.md
Due: format

Define DataIntegration schema in YAML
  spec/v1/annotations/dataintegration.yaml
Due: spec-generate, format

Add x-stability annotation
  spec/v1/CSN-Interop-Effective.schema.yaml
Due: spec-generate, format

Add beta flag for now?
  spec/v1/annotations/dataintegration.md
Due: format

Remove anchor tag
  spec/v1/annotations/dataintegration.yaml
Due: spec-generate, format

update dependencies
  package-lock.json
  package.json
Due: none

update dependencies (#128)
  package-lock.json
  package.json
Due: none

Create SVG logo
  docusaurus.config.js
  package-lock.json
  static/img/logo.svg
Due: none

Improve logo colors and font size
  static/img/logo.svg
Due: none

Style and logo adjustments
  docs/index.md
  static/css/custom.css
  static/img/logo.svg
Due: format

Improve documentation (minor fixes)
  docs/index.md
  docs/primer.md
Due: format

Add more documentation / quick start section
  docs/index.md
  docs/primer.md
Due: format

Small consistency
  docs/index.md
  docs/primer.md
Due: format

Update personal-data.yaml
  spec/v1/annotations/personal-data.yaml
Due: spec-generate, format

Update spec/v1/annotations/personal-data.yaml
  spec/v1/annotations/personal-data.yaml
Due: spec-generate, format

Path conditions:
  spec-generate: any of: spec/*/*.yaml
  format: any of: **/*.{md,json,yaml}
